<div class="mt-2">
  <ul class="list-group">
    <div *ngIf="dataLoaded == false" class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <li routerLink="/cars" (click)="setCurrentAllBrand()" [class]="getAllBrandClass()" *ngIf="dataLoaded == true">
      Tüm Araçlar
    </li>
    <li routerLink="/cars/brand/{{ brand.brandId }}" (click)="setCurrentBrand(brand)" *ngFor="let brand of brands"
      [class]="getCurrentBrandClass(brand)">
      {{ brand.brandName }}
    </li>
  </ul>

  <h5 *ngIf="currentBrand">{{ currentBrand.brandName }}</h5>
</div>